@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: HelveticaNeueCyr;
    src: url("./assets/font/HelveticaNeueCyrRoman.ttf") format("truetype");
}
* {
    @apply font-lexend;
}

.btn-basic {
    @apply py-0 bg-gradient-to-r from-basic to-warning text-white hover:bg-transparent;
}

.active {
    @apply bg-basic !important;
}

.nav-link {
    @apply text-base hover:bg-basic hover:rounded-md active:bg-red-600 hover:text-white transition-all duration-75 mx-1 font-hel uppercase font-bold;
}

.bg-gradient-dominant {
    background: rgb(23, 22, 61);
    background: linear-gradient(
        63deg,
        rgba(23, 22, 61, 1) 0%,
        rgba(23, 22, 61, 1) 51%,
        rgba(97, 77, 59, 1) 68%,
        rgba(194, 150, 56, 1) 88%,
        rgba(255, 196, 54, 1) 100%
    );
}
